* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    height: 100vh;
    background: url('../img/gun.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
}

.banner h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.banner p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.btn-banner {
    padding: 15px 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btn-banner:hover {
    text-decoration: none;
    color: white;
    background-color: #152F4F;
}

@media (max-width: 768px) {
    .banner h1 {
        font-size: 2.5rem;
    }
    .banner p {
        font-size: 1.2rem;
    }
    .btn-banner {
        font-size: 1rem;
        padding: 10px 20px;
    }
}
